

body{
  background-color: CornFlowerBlue;
}
h1{
  margin-left:30%
}
table {
  margin-top: 20px;
  margin-left:100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#subscribe{
  margin-left:40%;
  margin-top:20px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: white;
}
@media (max-width: 600px) {

}
